
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1617869884925-f8f0a51b2374?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dG9reW8lMjBuaWdodHxlbnwwfHwwfHw%3D&w=1000&q=80');
    font-size: 120%;
    
}



.card {
    background: #bdbdbde0;
    padding: 1.1em 1.5em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    background-color: #e0e0e0c4;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #ffffffe9;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background-color: #e0e0e08e;
    color: rgb(47, 47, 47);
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 90px);

}


h1.temp {
    margin: 0;
}